@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

*{ box-sizing: border-box;font-family: 'Nanum Pen Script', cursive;
     color: black;outline: none;}
html{font-size: 18px;}
body{margin:0}

a{text-decoration: none;}
ul,ol{list-style: none;margin: 0;padding: 0;}
dl,dt,dd,li{margin: 0;padding: 0}

main{background-color: aquamarine;}

/** 공통 여백 */
.mb5{margin-bottom: 5px;}
.mt5{margin-top: 5px;}

.mt10{margin-top: 10px;}
.mb10{margin-bottom: 10px;}